#preload-nalleDead { background-image: url("assets/images/nalleDead.png"); }
#preload-burningwall { background-image: url("assets/images/burningwall.svg"); }
#preload-burn { background-image: url("assets/images/burn.svg"); }
#preload-bomb { background-image: url("assets/images/bomb.svg"); }
#preload-bomborange { background-image: url("assets/images/bomborange.svg"); }
#preload-flamehor { background-image: url("assets/images/flamehor.svg"); }
#preload-flamevert { background-image: url("assets/images/flamevert.svg"); }
#preload-flameendl { background-image: url("assets/images/flameendl.svg"); }
#preload-flameendr { background-image: url("assets/images/flameendr.svg"); }
#preload-flameendu { background-image: url("assets/images/flameendu.svg"); }
#preload-flameendd { background-image: url("assets/images/flameendd.svg"); }
#preload-solidwall { background-image: url("assets/images/solidwall.svg"); }
#preload-weakwall02 { background-image: url("assets/images/weakwall02.svg"); }
#preload-bluegrass { background-image: url("assets/images/bluegrass.jpg"); }
#preload-darkground01 { background-image: url("assets/images/darkground01.jpg"); }
#preload-darkviolet { background-image: url("assets/images/darkviolet.jpg"); }
#preload-bear-green-left-iv { background-image: url("assets/images/bear-green-left-iv.png"); }
#preload-bear-green-left { background-image: url("assets/images/bear-green-left.png"); }
#preload-bear-green-right-iv { background-image: url("assets/images/bear-green-right-iv.png"); }
#preload-bear-green-right { background-image: url("assets/images/bear-green-right.png"); }
#preload-bear-orange-left-iv { background-image: url("assets/images/bear-orange-left-iv.png"); }
#preload-bear-orange-left { background-image: url("assets/images/bear-orange-left.png"); }
#preload-bear-orange-right-iv { background-image: url("assets/images/bear-orange-right-iv.png"); }
#preload-bear-orange-right { background-image: url("assets/images/bear-orange-right.png"); }
#preload-bear-red-left-iv { background-image: url("assets/images/bear-red-left-iv.png"); }
#preload-bear-red-left { background-image: url("assets/images/bear-red-left.png"); }
#preload-bear-red-right-iv { background-image: url("assets/images/bear-red-right-iv.png"); }
#preload-bear-red-right { background-image: url("assets/images/bear-red-right.png"); }
#preload-bear-yellow-left-iv { background-image: url("assets/images/bear-yellow-left-iv.png"); }
#preload-bear-yellow-left { background-image: url("assets/images/bear-yellow-left.png"); }
#preload-bear-yellow-right-iv { background-image: url("assets/images/bear-yellow-right-iv.png"); }
#preload-bear-yellow-right { background-image: url("assets/images/bear-yellow-right.png"); }
#preload-flameup { background-image: url("assets/images/flameup.svg"); }
#preload-bombup { background-image: url("assets/images/bombup.svg"); }
#preload-speedup { background-image: url("assets/images/speedup.svg"); }
#preload-lifeup { background-image: url("assets/images/lifeup.svg"); }
#preload-bombclip { background-image: url("assets/images/bombclip.svg"); }
#preload-wallclip { background-image: url("assets/images/wallclip.svg"); }
#preload-victory { background-image: url("assets/images/victory.svg"); }
#preload-tie { background-image: url("assets/images/tie.svg"); }